<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleExecutable</key>
	<string>butterfly~</string>
	<key>CFBundleIdentifier</key>
	<string>org.catastrophes.butterfly</string>
	<key>CFBundleName</key>
	<string>butterfly~</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>2.0.0</string>
	<key>CFBundleVersion</key>
	<string>20002</string>
	<key>CatastrophesReleaseVersion</key>
	<string>2.0.0</string>
	<key>LSMinimumSystemVersion</key>
	<string>15.0</string>
</dict>
</plist>
